<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 4>Assignment completed as a part od IBM data analyst professional certification</font></h1>

## Datasets for analysis


1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Creating a database and establishing connection:

In [2]:
%load_ext sql

In [3]:
!pip install -q pandas==1.1.5

In [4]:
import pandas as pd
import sqlite3

In [5]:
conn = sqlite3.connect("FinalDB.db")

In [6]:
CENSUS_DATA = pd.read_csv(r'ChicagoCensusData.csv')
CHICAGO_PUBLIC_SCHOOLS = pd.read_csv(r'ChicagoPublicSchools.csv')
CHICAGO_CRIME_DATA = pd.read_csv(r'ChicagoCrimeData.csv');

In [9]:
CENSUS_DATA.to_sql("CENSUS_DATA", conn, if_exists='replace', index=False, method="multi")
CHICAGO_PUBLIC_SCHOOLS.to_sql("CHICAGO_PUBLIC_SCHOOLS", conn, if_exists="replace", index=False, method="multi")
CHICAGO_CRIME_DATA.to_sql("CHICAGO_CRIME_DATA", conn, if_exists="replace", index=False, method="multi")

In [10]:
%sql sqlite:///FinalDB.db

'Connected: @FinalDB.db'

### Find the total number of crimes recorded in the CRIME table.

In [11]:
%sql select count(*) as total_number_of_crimes  from CHICAGO_CRIME_DATA

 * sqlite:///FinalDB.db
Done.

[(533,)]

### List community areas with per capita income less than 11000.

In [13]:
%sql select COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME from CENSUS_DATA where PER_CAPITA_INCOME < 11000

 * sqlite:///FinalDB.db
Done.

[(26.0, 'West Garfield Park'),
 (30.0, 'South Lawndale'),
 (37.0, 'Fuller Park'),
 (54.0, 'Riverdale')]

### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [14]:
%%sql 
select CASE_NUMBER from CHICAGO_CRIME_DATA 
where PRIMARY_TYPE like "%minor%" or description like "%minor%";

 * sqlite:///FinalDB.db
Done.

[('HL266884',), ('HK238408',)]

### List all kidnapping crimes involving a child

In [120]:
%%sql 
select * from CHICAGO_CRIME_DATA 
where PRIMARY_TYPE = "KIDNAPPING" and DESCRIPTION like "%child%";

 * sqlite:///FinalDB.db
Done.

[(520, 5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

### What kinds of crimes were recorded at schools?

In [125]:
%%sql 
select distinct PRIMARY_TYPE, DESCRIPTION from CHICAGO_CRIME_DATA 
where LOCATION_DESCRIPTION like "%school%"

 * sqlite:///FinalDB.db
Done.

[('BATTERY', 'SIMPLE'),
 ('BATTERY', 'PRO EMP HANDS NO/MIN INJURY'),
 ('CRIMINAL DAMAGE', 'TO VEHICLE'),
 ('NARCOTICS', 'POSS: HEROIN(WHITE)'),
 ('NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS'),
 ('ASSAULT', 'PRO EMP HANDS NO/MIN INJURY'),
 ('CRIMINAL TRESPASS', 'TO LAND'),
 ('PUBLIC PEACE VIOLATION', 'BOMB THREAT')]

### List the average safety score for each type of school.

In [25]:
%%sql 
select [Elementary, Middle, or High School] as type_of_school, round(avg(SAFETY_SCORE), 2) as average_safety_score
from CHICAGO_PUBLIC_SCHOOLS group by [Elementary, Middle, or High School];

 * sqlite:///FinalDB.db
Done.

[('ES', 49.52), ('HS', 49.62), ('MS', 48.0)]

### List 5 community areas with highest % of households below poverty line

In [26]:
%%sql 
select COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME from CENSUS_DATA
order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc limit 5;

 * sqlite:///FinalDB.db
Done.

[(54.0, 'Riverdale'),
 (37.0, 'Fuller Park'),
 (68.0, 'Englewood'),
 (29.0, 'North Lawndale'),
 (27.0, 'East Garfield Park')]

### Which community area is most crime prone?

In [102]:
# Querry for retrieving COMMUNITY_AREA_NUMBER with the highest number of crimes:

In [27]:
%%sql 
select COMMUNITY_AREA_NUMBER from
(select COMMUNITY_AREA_NUMBER, count(*) from CHICAGO_CRIME_DATA 
where COMMUNITY_AREA_NUMBER not null 
group by COMMUNITY_AREA_NUMBER order by count(*) desc limit 1)

 * sqlite:///FinalDB.db
Done.

[(25.0,)]

### Find the name of the community area with highest hardship index

In [104]:
%%sql
select COMMUNITY_AREA_NAME from CENSUS_DATA 
where HARDSHIP_INDEX = (select max(HARDSHIP_INDEX) from CENSUS_DATA)

 * sqlite:///FinalDB.db
Done.

[('Riverdale',)]

### Use a sub-query to determine the Community Area Name with most number of crimes

In [28]:
%%sql
select COMMUNITY_AREA_NAME from CENSUS_DATA where COMMUNITY_AREA_NUMBER =
(select COMMUNITY_AREA_NUMBER from 
(select COMMUNITY_AREA_NUMBER, count(*) as number_of_crimes from CHICAGO_CRIME_DATA 
where COMMUNITY_AREA_NUMBER not null group by COMMUNITY_AREA_NUMBER 
order by number_of_crimes desc limit 1))

 * sqlite:///FinalDB.db
Done.

[('Austin',)]

Different method:

In [29]:
%%sql
select (select COMMUNITY_AREA_NAME from CENSUS_DATA 
where CENSUS_DATA.COMMUNITY_AREA_NUMBER = CHICAGO_CRIME_DATA.COMMUNITY_AREA_NUMBER) as COMMUNITY_AREA_NAME from CHICAGO_CRIME_DATA 
where COMMUNITY_AREA_NUMBER is not null group by COMMUNITY_AREA_NUMBER 
having count(*) = (select count(1) from CHICAGO_CRIME_DATA 
where COMMUNITY_AREA_NUMBER is not null group by COMMUNITY_AREA_NUMBER order by 1 desc limit 1)

 * sqlite:///FinalDB.db
Done.

[('Austin',)]